@import 'assets/stylesheets/base';
@import 'assets/stylesheets/style';

.game-view {
  padding: 20px;
  text-align: center;

  header {
    display:  none;
  }

  .subject {
     display: none;
  }

  .team-prompt-view {

    p {
      font-size:    20px;
    }

    .team {
      @include radio-button;
    }
  }

  .question-view {
    position:     absolute;
    top:          0;
    left:         0;
    width:        100%;
    z-index:      -1;

    b {
      @include gradient-vertical(rgb(73, 255, 104), rgb(42, 174, 71));
      text-shadow: 1px 0px 2px 2px rgba(0,0,0,0.15);
      display:      block;
      padding:      110px 0 20px 0;
      color:        white;
      font-weight:  600;
      font-size:    20px;
      width:        100%;
    }

    .options {
      @include radio-button;
    }
  }

  .question-result {
    font-size:    24px;
    font-weight:  600;
  }

  .scores {

    .score {

      label {
        display: inline-block;
      }

      span {
        display:      inline-block;
        font-weight:  600;
        color:        red;
      }
    }
  }
}