@import 'assets/stylesheets/base';
@import 'assets/stylesheets/_mixins';


.game-view {
  padding: 20px;
  text-align: center;

  header {
    display:  none;
  }

  .subject {
     display: none;
  }

  .team-prompt-view {

    p {
      font-size:    20px;
    }

    .team {
      @include radio-button;
    }
  }

  .question-view {

    b {
      font-weight: 600;
      font-size:   20px;
    }

    .options {
      @include radio-button;
    }
  }

  .question-result {
    font-size:    24px;
    font-weight:  600;
  }

  .scores {

    .score {

      label {
        display: inline-block;
      }

      span {
        display:      inline-block;
        font-weight:  600;
        color:        red;
      }
    }
  }
}